root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
# Kotlin coding conventions (IntelliJ style) rather than ktlint_official.
ktlint_code_style = intellij_idea
